.react-table-suite-container {
	display: flex;
	flex-direction: column;
	// overflow: auto;
	width: max-content;
	&.fw {
		// width: 100%;
		min-width: 100%;
	}
	.react-table-suite-column-container {
		display: flex;
		align-items: center;
		width: 100%;
		.react-table-suite-column {
			flex: 1;
			padding: 10px 0px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 5px;
			max-width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			.react-table-suite-column-title {
				text-align: inherit;
				max-width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 0 5px;
				width: 100%;
				cursor: default;
			}
			.react-table-suite-column-icons-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: auto;
				.react-table-suite-column-icons {
					display: flex;
					align-items: center;
					gap: 10px;
					.sort-icons-container {
						display: flex;
						flex-direction: column;
						gap: 5px;
						&:not(.active) {
							visibility: hidden;
						}
						.sort-icon-wrapper {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 0.6rem;
							width: 0.6rem;
							.sort-icon {
								display: flex;
								justify-content: center;
								align-items: center;
								height: 100%;
								width: 100%;
								overflow: visible;
								&:hover {
									transform: scale(1.2);
								}
								&.active {
									transform: scale(1.5);
								}
								path {
									fill: rgba(53, 53, 53, 0.7);
								}
							}
						}
					}
					.filter-icons-container {
						padding-right: 5px;
						.filter-icon-wrapper {
							display: flex;
							justify-content: center;
							align-items: center;
							.filter-icon {
								height: 0.8rem;
								width: 0.8rem;
								display: flex;
								justify-content: center;
								align-items: center;
								cursor: pointer;
								path {
									fill: rgba(53, 53, 53, 0.7);
								}
							}
						}
					}
				}
			}
			&:hover {
				.sort-icons-container {
					visibility: visible !important;
				}
			}
		}
	}
	.react-table-suite-row-container {
		display: flex;
		align-items: center;
		width: 100%;
		flex-direction: column;
		.react-table-suite-row {
			flex: 1;
			display: flex;
			align-items: center;
			width: 100%;
			padding: 8px 0px;
			max-width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			cursor: default;
			background-color: var(--row-bg-color);
			&:nth-child(odd) {
				background-color: var(--odd-row-color);
			}
			&:nth-child(even) {
				background-color: var(--even-row-color);
			}
			&:hover {
				background-color: var(--row-hover-color);
			}
			.react-table-suite-row-data-container {
				text-align: inherit;
				flex: 1;
				max-width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding: 0 5px;
			}
		}
	}

	&.separator {
		.react-table-suite-column {
			border-right: 1px solid var(--separator-color);
		}
        .react-table-suite-row-data-container {
            border-right: 1px solid var(--separator-color);
        }
	}
}
